- /dev
- /home/*/.cache
- /home/*/.ccache
- /home/*/.thumbnails
- /home/*/.local/share/Trash
- /root/.thumbnails
- /root/.cache
- /root/.local/share/Trash
- /lost+found
- /media
- /mnt
- /proc
- /root/.cache
- /root/.ccache
- /run
- /selinux
- /sys
- /tmp
- /u/apps/*/current/log/*
- /u/apps/*/releases/*/log/*
- /var/cache/*/*
- /var/log
- /var/run
- /var/tmp
- /var/lock
- /boot
